body{
    margin: 5px;
    border-top: 8px solid blue;
    border-left: 8px solid blue;
    border-bottom:  8px solid red;
    border-right: 8px solid red;
}
#wrapper{
    margin: 10px auto;
    width: 1600px;
    border: 20px solid rgba(255, 217, 0, 0.74);
    background-color: silver;
}
.title{
    text-align: center;
    vertical-align: top;
    display: inline-block;
    margin-left: 250px;
}
.header a{
    display: inline-block;
    /* vertical-align: top; */
}
.header h1{
    display: inline-block;
}
.intro{
    display: inline-block;
    vertical-align: top;
    width: 400px;
    margin-left: 375px;
}
a.return{
    display: inline-block;
    margin-left: 1000px;
}
.para{
    display: inline-block;
    vertical-align: top;
    width: 400px;
}
.para p{
    display: inline-block;
    justify-content: space-between;
    margin-right: 200px;
    width: 400px;
    font-size: large;
    /* vertical-align: text-top; */

}
.word{
    display: inline-block;
    vertical-align: top;
}
.word p{
    display: inline-block;
    justify-content: space-between;
    vertical-align: top;
}
.graph{
    display: inline-block;
    vertical-align: top;
    width: 400px;
}
.graph p{
    display: inline-block;
    justify-content: space-between;
    margin-right: 200px;
    width: 400px;
    font-size: large;
    /* vertical-align: text-top; */

}
.content{
    margin-bottom: 30px;
}
.content img{
    display: inline-block;
    width: 500px;
    height: 575px;  
    margin-right: 50px;
    /* margin-left: 250px; */
}
#wrapper img{
    display: inline-block;
    width: 650px;
    height: 420px;
    margin-left: 200px;
}
#map{
height: 300px;
width: 1600px;
}